# Ignore specific simulation data files
simulation_data_kwargs.npz
unspecified_sim_data*.npz

# Ignore user-specific configuration files
imgui.ini
.DS_Store

# Ignore Python compiled files
taichi_flume_sims/__pycache__

# Ignore the entire Flume directory
/Flume

# Ignore data format analysis directory
/data_format_analysis


